/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0 auto;
}
html {
  box-sizing: border-box;
}
body {
  padding-top: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  max-width: 850px;

  border: 1px solid black;
  border-radius: 6px;
}
h1 {
  padding-top: 0;
  padding-bottom: 1rem;
  font-size: 2.7rem;
  text-align: center;
}
h2 {
  padding-top: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.centerContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
