.menubar {
  padding-bottom: 2rem;
}
.menuitem {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid black;
  width: 33%;
}