#searchbar {
  border-radius: 6px;
  padding: 0.4rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 25rem;
}
.searchButton {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  width: 10rem;
  
  background-color: #0055ff;
  color: white;
  border: 1px solid black;
}
.searchButton:active {
  background-color: #0055cc;
}